beautifulsoup4==4.6.0
dj-database-url==0.4.2
Django==1.11.2
django-crispy-forms==1.6.1
django-extensions==1.9.7
gunicorn==19.7.1
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
pytz==2017.3
six==1.11.0
tornado==4.5.2
typing==3.6.2
Unidecode==0.4.21
Werkzeug==0.12.2
